# Backend Configuration
PORT=3001

# Google Sheets Configuration
SPREADSHEET_ID=1wrQhe7ySqkITVe-L3f9aK3lo368WVzolL1nViONKYCA

# Path to Service Account JSON file
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=./service-account-key.json
